.container_body{
    position: relative;
    background-color: beige;
    width: 800px;
    max-width: 800px;
    top: 0;
    font-weight: 600;
    left: 20%;
    right: 20%;
    margin-top: 2px;
}
.bugs-list-container{

        width: 300px;
       height: 350px;

        margin-top: 0px;
        overflow: scroll; 
        border: solid rgb(213, 213, 232);
        background-color: rgb(20, 20, 11);
     
}
.buglist-row{
   
}
.bug-display {
    background-color: rgb(10, 8, 10);
    padding: 10px;
    overflow: auto; 
    width: 300px;
    max-height: 350px; 
    position: relative; 
  }
  
  .title {
    padding: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0; /* Add 'margin-top: 0;' to remove the default margin */
    /* Add 'padding-bottom: 10px;' for spacing between title and content */
    background-color: rgb(242, 224, 224);
  }
.bug-inprogress{
    background-color: rgb(209, 186, 209);
        padding: 10px;

}
.bug-resolved{
    background-color: rgb(225, 223, 225);
    padding: 10px;

}
.text-center-bug{

    padding-top: 50px;
    margin: auto;
    padding-bottom: 20px;
   
}
.select{
    margin: 10px;
    border:rgb(from color r g b);
    padding: 2px;
    
}
.container-eachlist{
    padding: 10px;
    background-color: azure;
   

}
.thumb-img{
    width: 50px;
    height: auto; 
    border-radius: 10px;   
}

.custom-button{
   padding-left: 2px;
}

.container-comment{
    font-family: cursive, sans-serif;
    background-color:rgb(187, 145, 187);
    color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 20px 23px #bcc4bf;
}
.Eachitem-container{
    padding-top: 10px;
}